.button-container {
  height: 50px;
  width: 200px;
  }
  
button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    height: 20px;
    width: 40px;
    display: inline-block;
  }