.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    margin-top: 10px;
    width: 120px;
    height: 40px;
  }