/* Thick and dark brown border for the entire board */
#board {
  display: inline-block;
  border: 10px solid #000000;
}

/* Thin and dark yellow border for the small cells */
.cell {
  border: 1px solid #FFD700;
  width: 30px;
  height: 30px;
  text-align: center;
}