.hand {
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid black ;
    background-color: wheat;
    padding: 5px;
    row-gap: 5px;
    bottom: 200px;
}

.tile-container {
    width: 50px;
    height: 20px;
    background-color: brown;
}