.tile {
    display: flex;
    width: 35px;
    height: 30px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color: black;
    background-color: rgb(255, 219, 179);
    border-radius: 4px;
}