/**
 * 
 * CSS styles for the action panel component.
 */

/**
 * Styles for buttons.
 */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  background-color: lightgray;
}

/**
 * Styles for the action panel container.
 */
.action-panel {
  display: inline;
}

/**
 * Styles for the tile hand container.
 */
.tile-hand {
  display: flex;
  width: 250px;
  height: 25px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: lightgray;
  border-radius: 8px;
  padding: 5px;
}

/**
 * Styles for the tile placeholder.
 */
.tile-placeholder {
  width: 35px;
  height: 30px;
  margin: 5px;
  visibility: hidden; 
}

/**
 * Styles for the button hand.
 */
.button-hand {
  background-size: 40px auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

/**
 * Styles for the hand container.
 */
.hand-container {
  display: flex;
  width: 470px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 5px;
}

/**
 * Styles for the button container.
 */
.button-container {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  width: 480px;
  margin-top: 10px;
}

/**
 * Styles for button hover effect.
 */
button:hover {
  border: 1px solid #7c7c7c;
}

/**
 * Styles for the action panel button.
 */
.button-ap {
  width: 120px;
  height: 50px;
}

/**
 * Styles for the submit button.
 */
.submit-button {
  background-color: rgb(87, 201, 127);
}