#root {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url("../assets/wood.jpg");
  background-size: cover;
  background-position: center;
  overflow: auto;
}

h1 {
  color: white;
}
