#infoboard {
    display: inline-block;
    border: 10px solid #000000;
    border-radius: 8px;
    background-color: #f5f5f5;
    margin-top: 5%;
    width: 220px;
    height: 430px;
    color: #000000;
  }

.scoreboard {
    display: block;
    padding: 10px;
}

.scoreboard-cell {
    align-items: center;
    margin: 5px;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid #7c7c7c;
    border-radius: 8px;
    padding: 10px;
}

.turnboard {
    display: block;
    padding: 10px;
    font-size: 1.5em;
}

.tilebag {
    display: block;
    align-items: center;
    margin: 15px;
    border: 1px solid #7c7c7c;
    border-radius: 8px;
    padding: 5px;
}