/**
 * 
 * CSS styles for the popup component.
 */

.popup {
    /* Position the popup at the top left corner of the viewport */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;

    /* Center the content vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    /* Position the close button at the top left corner of the popup */
    position: fixed;
    top: 50px;
    left: 50px;
    width: 150px;
    height: 100px;
}

.submit-btn {
    /* Set the width and height of the submit button */
    width: 200px;
    height: 100px;
}

input {
    /* Set the height, font size, and padding of the input field */
    height: 60px;
    font-size: 20px;
    padding: 10px;
}
