#root {
  height: 100%;
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-image: url("../assets/wood.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  color: white;
}
