.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 80px;
    color: black;
    background-color: bisque;
    border: black solid 3px;
}